.main-div {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: -50px -50px;
}

.admin-main-content{
    flex-grow: 1;
    min-height: 91vh;
    padding: 20px 50px 0px 50px;
}

.table-header {
    background-color: #28282B;
    color: white;
}

.pagination {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }

  .admin-header-div {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }