
.main-div{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}